body{background-color:lavender;}

.container{
    width:500px;
    background-color: linen;
    font-family:Garamond;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

header{
    background-color:coral;
}