:root{
--mainbg: white;
--special: rgb(62, 188, 62);
--lightbg: rgb(233, 218, 54);}

body{
background-color: black;
background-image:url('https://file.garden/aSuzW6Q8vUmjy3BN/NPC/postits-sm.png');
background-repeat:no-repeat;
background-size:cover;
box-sizing:border-box;}

body, p, .petstatsblock, .pet_belonging {
font-family: Combo, Lexica, Tahoma, sans-serif;
color: black;}

#center{
font-family: Barriecito, Verdana, sans-serif;
font-size:1rem;
color: black;
}

#center:first-of-type{
font-family: Barriecito, Verdana, sans-serif;
font-size:2rem;
color: black;}

.desc p{font-size:1.2rem;}

span{background-color:var(--lightbg);}

a{
    color:var(--special);
    text-decoration:none;
}

.petlookupContainer{
width: 600px;
margin: auto;
padding: 2em 3em;
border: 4px solid var(--special);
border-radius: 20px;
background-color: white;
display:flex;
flex-direction: column;
gap: 10px;
justify-content:center;
align-items:center;
margin-top: 10%;
box-shadow: inset 0 0 10px var(--special);
}


.pettop{
display:flex;
flex-direction:row;
gap: 10px;
align-items:center;
    }

.petimage{
/*content:url('LINK');*/
width:150px;
position:relative;}

.petstatsblock{
background:var(--lightbg);
height: 170px;
width: 170px;
overflow:scroll;
padding: 1em 2em;}

hr, .petlinks, .petBDstats {display:none;}
.sidebar-container, #hdr, .hdr, #mb, .navhover, #retrotopbar, .results, .footertext {display:none;}

map+table{margin:auto;
padding-right:100px;}
#content_td {width: 100%;}

.petbelongingscontainer img{
border:none;}

.petbelongingscontainer p:first-of-type{
text-align:center !important;
font-size: 1.5rem;}

nav{
gap: 20px;
position: absolute;
top: 5px;
margin: auto;
width: 700px;}

nav ul{
list-style-type:none;
padding:0;
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 20px;
width: 700px;}

nav li a{
text-decoration: none;
color: #004d00;
font-family: Combo, Lexica, Tahoma, sans-serif;
font-size: 1.2rem;
display: block;
padding: 5px 10px;
background-color: var(--lightbg);
width: fit-content;}

nav li a:hover{
background-color: var(--special);
background-size: 50%;
color: #004d00;}


@media (max-width:400px){
    body{
    background-size:auto;
        background-position: 0 0;
    }
}
