/* -----------
last update:
14 July 2026
1:43pm 
-------------*/


/* note:
class .re is the random event table
header class .shh
bold text inside header has tag important on color 
pic class .img specifically td.img
text class .txt specifically td.img
the whole RE shape is .re tbody I think (to shape/bg it))
 */


:root{
    --lightbg: #c2d6d6;
    --hfont: Quintessential, Garamond, serif;
    --mainfont: Jost, Garamond, serif;
    --neutral-brown: #a9705f;
    --darker-brown: #9e6737;
    --nice-wood-brown: hsl(15, 34%, 56%);
    --special: hsl(15, 34%, 56%);
    --special-darker: #805027;

    --notebook: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/BGs/notebook%20paper.png);
    --paper: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/icons/paper-bg-unsplash.png);
}

body{
    font-family: Lekton;
    font-size: 1.2rem;
    background-color: var(--lightbg);
    background-image: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/icons/tile-bg.png);
    background-repeat: repeat;
    background-size: 35%;
}

a, p, b, font, li{
    font-family: Lekton;
    color: #191616;
    font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: Lekton;
    color: #191616;
}


section{
    background-image: var(--paper);
    padding: 10px 20px;
    box-shadow: 2px 2px 10px var(--darker-brown);
}

a:hover{
    color: goldenrod;
}

ul li{
    text-align: left;
}

/*text styling*/
.userLookupPets b{
    font-family: "Bodoni Moda", serif;
    font-weight: 500;
    color: #383333;
    background-color: #d8d8d8;
    display: block;
}

.userLookupPets + p b{
    font-family: "Playwrite US Trad Guides";
    font-size: 1.5rem;
    color: #383333;
    background-color: #d8d8d8;
    display: block;
}

/* Centers the userlookup, do not remove */
map + table{margin:auto;
margin-top: 20px !important;}
/* IF NEEDED */
#content_td{margin:auto;}

.content{
    display: grid !important;
    grid-template-columns: 
    3fr 2fr 2fr;
    grid-template-rows:
    100px minmax(400px, auto);
    grid-template-areas:
    "main head head"
    "main pet pet";
justify-content: center;
width: 80vw;
overflow: visible;
height:fit-content;
margin-top: 4%;
position: relative;
anchor-name: --grid;
background-color: var(--special);
z-index: 2;
box-shadow: -5px 5px 30px black;
}

#hdr, hr, .hdr, .navhover, #mb, .sidebar-container, #retroTopBar, .footertext {display:none;}

/*Grid-areas*/
#userHeader{grid-area:head;}
.userLookupPets{grid-area:pet;}
#center + p{grid-area:coreinfo;}
#center{grid-area: main;}
#icon{grid-area:icon;}

/*userinfo core*/
#center + p{
    display: block;
    transition: box-shadow 0.3s ease-out, width 1s ease-in-out, transform 1s ease-in-out;
    position: absolute;
    position-anchor: --pets;
    position-area: right;
    left: 0;
    top: 150px;
    width: 400px;
    transform: translateX(-380px);
    max-height: 300px !important;
    box-sizing: border-box;
    overflow-y: scroll;
    border: 4px solid var(--special);
    scrollbar-width: none;
    padding: 20px;
    padding-right: 70px;
    z-index: 1;
}

#center + p::before{
    position: absolute;
    right: -380px;
    width: 400px;
    height: 30px;
    transform: rotate(90deg);
    background-color: linen;
    content: "About Me";
    transform-origin: top left;
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}


#center+p:hover{
    width: 400px;
    transform: translateX(-40px);
    box-shadow: inset 5px 5px 5px var(--special-darker);
}

#userHeader{
    transition: max-height 1s ease-in-out;
    anchor-name: --header;
    background-color: var(--special);
    z-index: 2;
}


/*revamp avatar links drawer*/
.userLookupLinks{
    transition: box-shadow 0.3s ease-out, width 1s ease-in-out, transform 1s ease-in-out;
    position: absolute;
    position-anchor: --header;
    position-area: right;
    left: 0;
    top: 0;
    width: 200px;
    transform: translateX(-130px);
    scrollbar-width: none;
    padding: 0 40px 0 20px;
    flex-direction:column !important;
    justify-content:flex-start;
    align-items:end;
    gap:0 !important;
    overflow-y: visible !important;
}

.userLookupLinks div{
    opacity: 0;
    background-image: var(--paper);
    width:50px;
}

.userLookupLinks:hover div{
    opacity: 1;
    animation: reveal-links 0.5s ease;
    animation-delay: 0.3s;
    animation-fill-mode:backwards;
}

@keyframes reveal-links {
    from {opacity: 0}
    to {opacity: 1;}
}

.userLookupLinks::before{
    position: absolute;
    right: -100px;
    width: 100px;
    height: 30px;
    transform: rotate(90deg);
    background-color: linen;
    content: "Wishlist";
    transform-origin: top left;
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}

.userLookupLinks:hover{
    transform: translateX(-40px);
    box-shadow: inset 5px 5px 5px var(--special-darker);
}

#siteCharms div, #contactLinks div, #siteTrophies div{
    transform:rotate(90deg);
}


.userLookupPets{
    display: block;
    max-height: 400px;
    width: 100% !important;
    overflow-x: scroll !important;
    overflow-y: hidden;
    anchor-name: --pets;
    transition: max-height 1s ease-in-out;
    z-index: 2;
    background-color:linen !important;
    transform: rotate(-10deg);
    box-shadow: -2px 2px 5px rgb(58 17 17 / 50%);
}


#siteCharms{
    width: 30px;
    transition: width 1s ease-in-out, box-shadow 0.3s ease-out;
    position: absolute;
    position-anchor: --main;
    position-area: center left;
    padding-left: 100px;
    right: 0px;
    top: 65px;
    anchor-name: --charms;
    margin-bottom: 10px;
    transform: translateX(-20px) rotate(-85deg);
    transform-origin: 100% 100%;
}

#siteCharms:hover{
    width: 400px;
    margin-left: 20px;
    box-shadow: inset 5px 5px 5px #15131e;
}

#siteCharms > b, #siteCharms > font, #siteCharms > br, #siteCharms > a{
    display:none;
}

#siteCharms::before{
    position:absolute;
    left: -50px;
    top: 30px;
    width: 150px;
    height: 30px;
    transform: rotate(90deg);
    background-color:linen;
    content: "Charms";
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}

#siteTrophies{
transition: width 1s ease-in-out, box-shadow 0.3s ease-out;
    position: absolute;
    width: 80px;
    top: 0;
    position-anchor: --main;
    position-area: center left;
    right: 30px;
    top: 130px;
    padding-left: 100px;
    anchor-name: --site;
    transform: translateX(-24px) rotate(-85deg);
    transform-origin: 100% 100%;
}

#siteTrophies:hover{
    width: 400px;
    margin-left: 20px;
    box-shadow: inset 5px 5px 5px #15131e;
}

#siteTrophies > b, #siteTrophies > font, #siteTrophies > br, #siteTrophies > a{
    display:none;
}

#siteTrophies::before{
    position:absolute;
    left: -50px;
    top: 30px;
    width: 150px;
    height: 30px;
    transform: rotate(90deg);
    background-color:linen;
    content: "NPC Trophies";
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}

#gameTrophies{
    max-width: 450;
    height: 50px;
    transition: height 1s ease-in-out, box-shadow 0.3s ease-out;
    position:absolute;
    position-anchor: --main;
    position-area: bottom;
    anchor-name: --trophies;
    top:0;
    padding-top: 50px !important;
    overflow-y:scroll;
}

#gameTrophies::before{
    position:absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color:linen;
    content: "Game Trophies";
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}

#gameTrophies:hover{
    height: 600px;
    box-shadow: inset 5px 5px 5px var(--special-darker);
}

#gameTrophies > b, #gameTrophies > font, #gameTrophies > br, #gameTrophies > a{
    display:none;
}

#contactLinks{
    transition: box-shadow 0.3s ease-in-out, width 1s ease-in-out;
    anchor-name: --contact;
    width: 50px;
    position: absolute;
    position-anchor: --main;
    position-area: left center;
    right: 30px;
    top: 0;
    padding-left: 50px;
    margin-top: 10px;
    transform: translate(-20px, 55px) rotate(-85deg);
    transform-origin: 100% 100%;
}

#contactLinks:hover{
    width: 400px;
    box-shadow: inset 5px 5px 5px #15131e ;
}

#contactLinks > b, #contactLinks > font, #contactLinks > br, #contactLinks > a{
    display:none;
}

#contactLinks::before{
    content: "Contact";
    position: absolute;
    left: -50px;
    top: 30px;
    width: 150px;
    height: 30px;
    background-color: linen;
    transform: rotate(90deg);
    font-family: Lekton;
    color: #383333;
    background-image: var(--notebook);
    background-size: 10%;
}

#userHeader, #center{
box-sizing: border-box;
overflow-y: scroll;
min-height: 0;
max-height: 200px;
}

#gameTrophies, #userLookupPets{
    box-sizing:border-box;
    border: 4px solid var(--special);
}

#siteCharms, #siteTrophies,
.userLookupLinks, #contactLinks{
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img{border-radius:30px;}

#siteCharms, #siteTrophies, #contactLinks{
    height: 130px;
}

.userLookupLinks{
    height:100px;
    padding-left: 100px !important;
}

#center{
    max-height: 100% !important;
    transition: max-height 1s ease-in-out, height 1s ease-in-out;
    anchor-name: --main;
    background-color: var(--special);
    z-index: 2;
    anchor-name: --main;
    padding: 20px;
}

#center::after{
    content: "";
    height: 150px;
    width: 150px;
    background-color: #342f49;
    position: absolute;
    z-index: 5;
    top: 0;
    transform: translate(-320px, 40px) rotate(-85deg);
    border-radius: 5px;
    box-shadow: 10px -5px 20px #342f49;
    background-image: url(https://images.unsplash.com/photo-1593562143526-c4018eabab9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-bottom: 3px solid #342f49;
}


#gameTrophies:hover{
max-height: 500px !important;
overflow: scroll;
}

.wrapper{max-height: 100px;}


.clear{display:none;}

.userLookupPets{
    box-sizing:border-box;
    overflow: scroll !important;
}


#radio-area{
    position: absolute;
    position-anchor: --main;
    position-area: top right;
    transform: translate(20px, -20px);
    perspective: 800px;
    transform-style: preserve-3d;
}

#radio{
    width: 92px;
    height: 67px;
    background-image: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/radio-unsplash-thesidelens.png);
    filter: drop-shadow(-4px 4px 5px rgb(28, 28, 56, 30%));
    background-size: contain;
    transform: rotate(10deg);
}

#radioplayer{
    opacity: 0;
    width: 20px;
    height: 20px;
    transition: width 1s ease-in-out, opacity 1s ease-in-out;
}


#tapelabel{
    display:block;
    background-image: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/tape-single.png);
    background-size: cover;
    width: 40px;
    height: 25px;
    transform: rotate(-20deg) translateY(20px);
    font-family: monospace;
    color: white;
    line-height:25px;
    transition: transform 0.5s ease-in-out;
}

#tapelabel:hover{
    transform: rotate(-20deg) translateY(20px) translateZ(200px) rotateY(-20deg);
    transform-origin: bottom;
}

#playtape{
    opacity: 0;
}

#playtape:checked ~ #radioplayer{
    opacity:1;
    width: 200px;
}

.content, #center, #userHeader, #siteCharms, .userLookupLinks, #siteTrophies, #contactLinks, #gameTrophies, #center + p{
    background-color: var(--nice-wood-brown);
    background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
}

.content, .userLookupLinks, #gameTrophies, #center + p{
    border: 4px solid var(--darker-brown);
}

#siteCharms, #contactLinks, #siteTrophies
{border: 4px solid #342f49;
background-color: #6b6680;
background-image:none;}


#tablecover{
    position: absolute;
    position-anchor: --header;
    position-area: bottom right;
    height: 360px;
    width: 350px;
    top: 25px;
    background-color: var(--nice-wood-brown);
    background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
    z-index: 1;
}

.tilt-right{ transform:rotate(5deg) !important; }

.tilt-left{ transform: rotate(-12deg); }

#goodbye{
    background-image: url(https://file.garden/aSuzW6Q8vUmjy3BN/NPC/pics/icons/plastic-bag.png);
    background-size: cover;
    width: 100px;
    height: 120px;
    transform: translate(-350px, 370px);
    position: absolute;
    position-anchor: --header;
    position-area: left;
}

#goodbye a{
    display: block;
    transform: rotate(-20deg) translate(-5px, 50px);
    font-size: 1.5rem;
    line-height: 0.8;
}

#goodbye:hover{
    transform: translate(-350px, 370px) rotate(-20deg);
}

#goodbye:hover a{
    color: #191616;
}

.top-of-cabinet{
    background-size: cover;
    width: 50px;
    height: 50px;
    transform: translate(-350px, 100px) rotate(45deg);
    position: absolute;
    position-anchor: --header;
    position-area: left;
    z-index: 10;
}

.top-of-cabinet img{
    filter: drop-shadow(2px 2px 3px #191616);
}

#guestbook{
    position: absolute;
    position-anchor: --header;
    position-area: left;
    transform: rotate(-5deg) translate(-380px);
    width: 80px;
    font-weight: bold;
    line-height: 1;
    background-image: var(--notebook);
    z-index: 9;
    padding: 20px;
    box-sizing: border-box;
    background-size: 500%;
    font-size: 0.6rem;
}

#lilguy{
    height: 48px;
    image-rendering: pixelated;
}